<div class="grid">
<div>
<h1>{{title}}</h1>
<p> Copyright &copy; 2021</p>
</div>
<nav>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#">Browse</a></li>
                <li><a href="/#">Search</a></li>
        </ul>
</nav>
</div>
