  <!-- Navbar -->
  <nav
    class="navbar navbar-expand-lg navbar-light text-white p-2"
    style="background-color: #ff1744"
  >
    <!-- Container wrapper -->
    <div class="container-fluid text-white">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="/">
        <span class="fw-bold text-white">{{title}}</span>
      </a>

      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/petitions/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/petitions/browse">Browse</a>
          </li>
                    <li class="nav-item">
            <a class="nav-link active text-white" href="/donate">Donate</a>
          </li>
        </ul>

       {{#if loggedIn}}
       <ul class="navbar-nav ml-auto mb-2 mb-lg-0" style="padding-right: 1.7rem;">
                <li class="nav-item dropdown">
          <a
            class="nav-link text-white dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/logout">logout</a>
            </li>
          </ul>
        </li>
      </ul>
       </ul>
       {{/if}}
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->