<h2 class="text-center fw-bold p-4">DONATION SUCCESSFUL</h2>
<p class="text-center text-dark fw-bold p-4">
  Your Donation failed. Please try again. <br />
  Why your donation could have failed:
   <div class="d-flex justify-content-center">
  <ul class="list-group">
  	<li class="list-group-item">Your card has been declined</li>
  	<li class="list-group-item">Internal errors in our servers</li>
  	<li class="list-group-item">Incorrect CVC</li>
  	<li class="list-group-item">Incorrect exipry date</li>
  </ul>
</div>
</p>

<section class="p-5 text-center">
	<a href="/donate" class="btn btn-lg btn-outline-dark mb-3">Try again <i class="fa fa-sync"></i></a>
	<a href="/" class="btn btn-lg btn-outline-dark mb-3">Home <i class="fa fa-home"></i></a>
</section>