{{!-- {{#> header}} --}}
{{!--   <header class="text-white">
      {{> header}}
  </header> --}}
{{!-- {{/header}} --}}

<!-- Home  -->
<section class="text-center text-white home p-4 fw-bold">
  <h3 class="p-4 mb-2 home-text">Let's bring change to the world.</h3>
{{!--   <a href="/petitions/new" class=" home-text btn btn-outline-light mb-2">Start a Petition</a> --}}

{{#if loggedIn}}

{{> petitionForm}}

{{else}}

{{> signUp}} 
{{> login}} 

{{/if}}

</section>

<!-- Petitions -->
<section class="petitions p-4">
  <h4 class="text-center p-4 mb-2">PETITIONS</h4>

{{#each petitions}}

{{> petitionsCard}}

{{/each}}

</section>


<!-- Footer -->
<footer class="footer bg-dark p-4 py-5">
  {{> footer}}
</footer>