  <header>

  <nav>
    <div>
      <ul>
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
</header>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
