<h2 class="text-center fw-bold p-4">DONATION SUCCESSFUL</h2>
<p class="text-center text-dark fw-bold p-4">
	Your Donation of &#8377;{{data.amount}} has been successfully
	received.Through your kindness today, we can bring a voice to the people who
	need it the most.
</p>

<section class="p-3 text-center">
	<a href="{{data.receipt}}" class="btn btn-lg btn-outline-dark mb-3"
		>View Receipt <i class="fa fa-receipt"></i
	></a>
	<a href="/" class="btn btn-lg btn-outline-dark mb-3"
		>Home <i class="fa fa-home"></i
	></a>
	<div class="text-dark p-5">
		You will also receive a copy of this receipt in your email.
	</div>
</section>
