:root{
  --theme: #ff1744;
  --white: #ffffff;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
}

.home{
  height: 300px;
  background-color: var(--theme);
  color: var(--white);
  position: relative;
}

.home-text{
	animation: slideInFromLeft 1s ease-in;
}

.goal{
	margin-left: 12rem;
}

.footer a{
  text-decoration: none;
  color: var(--white);
}

.footer h1,p{
  color: var(--white);
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}


/* Animations */
@keyframes slideInFromLeft{
  0%{
    transform: translateX(-100%);
  }

  100%{
    transform: translateX(0);
  }

}

@keyframes slideInFromRight{
  0%{
    transform: translateX(100%);
  }

  100%{
    transform: translateX(0);
  }
  
}

/* Media Queries */
@media(max-width:768px){
	.goal{
		margin-left: 20rem;
	}
}

@media(min-width: 1200px){

	.goal{
		margin-left: 51rem;
	}

}

@media(max-width: 439px){

	.goal{
		margin-left: 7rem;
	}

}

@media(max-width: 438px){
	.goal{
		margin-left: 6rem;
	}
}

